# Symfony Files
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/vendor/
/bin/
/web/uploads

# Build files
/composer.phar
/composer.lock
/build/
/app/phpunit.xml
/app/config/parameters.yml
/web/.htaccess
/build.properties


# IDE specific project files
.nbproject
*.iml
*.ipr
*.iws
.idea/
.classpath
.project

