# Symfony files
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/web/uploads

# Build files
/composer.lock
/composer.phar
/build/
/app/phpunit.xml
/app/config/parameters.yml
/web/.htaccess
/build.properties

# IDE specific project files
.nbproject
*.iml
*.ipr
*.iws
.idea/
.classpath
.project

# OSX files
.DS_Store
._*

# Windows files
Thumbs.db
Desktop.ini
