<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase @PLACEHOLDER_REWRITE_BASE@
    SetEnv APPLICATION_ENV @PLACEHOLDER_APPLICATION_ENV@

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
